(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
"hamza-ar",
"highhamza-ar",
"alef-ar",
"alef-ar.fina",
"alef-ar.fina.alt",
"alef-ar.fina.rlig",
"alef-ar.short",
"alef-ar.fina.short",
"alef-ar.fina.short.alt",
"alef-ar.fina.short.rlig",
"alefHamzaabove-ar",
"alefHamzaabove-ar.fina",
"alefHamzaabove-ar.fina.alt",
"alefHamzaabove-ar.fina.rlig",
"alefHamzabelow-ar",
"alefHamzabelow-ar.fina",
"alefHamzabelow-ar.fina.alt",
"alefHamzabelow-ar.fina.rlig",
"alefWavyhamzaabove-ar",
"alefWavyhamzaabove-ar.fina",
"alefWavyhamzaabove-ar.fina.alt",
"alefWavyhamzaabove-ar.fina.rlig",
"alefWavyhamzabelow-ar",
"alefWavyhamzabelow-ar.fina",
"alefWavyhamzabelow-ar.fina.alt",
"alefWavyhamzabelow-ar.fina.rlig",
"alefMadda-ar",
"alefMadda-ar.fina",
"alefMadda-ar.fina.alt",
"alefMadda-ar.fina.rlig",
"alefWasla-ar",
"alefWasla-ar.fina",
"alefWasla-ar.fina.alt",
"alefWasla-ar.fina.rlig",
"alefFathatan-ar",
"alefFathatan-ar.fina",
"alefFathatan-ar.fina.rlig",
"highhamzaAlef-ar",
"highhamzaAlef-ar.fina",
"highhamzaAlef-ar.fina.rlig",
"behDotless-ar",
"behDotless-ar.alt",
"behDotless-ar.fina",
"behDotless-ar.fina.alt",
"behDotless-ar.medi",
"behDotless-ar.init",
"behDotless-ar.init.alt",
"beh-ar",
"beh-ar.alt",
"beh-ar.fina",
"beh-ar.fina.alt",
"beh-ar.medi",
"beh-ar.init",
"beh-ar.init.alt",
"peh-ar",
"peh-ar.fina",
"peh-ar.fina.alt",
"peh-ar.medi",
"peh-ar.init",
"peh-ar.init.alt",
"peh-ar.alt",
"beeh-ar",
"beeh-ar.alt",
"beeh-ar.fina",
"beeh-ar.fina.alt",
"beeh-ar.medi",
"beeh-ar.init",
"beeh-ar.init.alt",
"beheh-ar",
"beheh-ar.alt",
"beheh-ar.fina",
"beheh-ar.fina.alt",
"beheh-ar.medi",
"beheh-ar.init",
"beheh-ar.init.alt",
"alefMaksura-ar.medi",
"alefMaksura-ar.init",
"alefMaksura-ar.init.alt",
"teh-ar",
"teh-ar.alt",
"teh-ar.fina",
"teh-ar.fina.alt",
"teh-ar.medi",
"teh-ar.init",
"teh-ar.init.alt",
"tehRing-ar",
"tehRing-ar.fina",
"tehRing-ar.fina.alt",
"tehRing-ar.medi",
"tehRing-ar.init",
"tehRing-ar.init.alt",
"tehRing-ar.alt",
"tehThreedotsdown-ar",
"tehThreedotsdown-ar.fina",
"tehThreedotsdown-ar.fina.alt",
"tehThreedotsdown-ar.medi",
"tehThreedotsdown-ar.init",
"tehThreedotsdown-ar.init.alt",
"tehThreedotsdown-ar.alt",
"theh-ar",
"theh-ar.alt",
"theh-ar.fina",
"theh-ar.fina.alt",
"theh-ar.medi",
"theh-ar.init",
"theh-ar.init.alt",
"tteh-ar",
"tteh-ar.alt",
"tteh-ar.fina",
"tteh-ar.fina.alt",
"tteh-ar.medi",
"tteh-ar.init",
"tteh-ar.init.alt",
"tteheh-ar",
"tteheh-ar.alt",
"tteheh-ar.fina",
"tteheh-ar.fina.alt",
"tteheh-ar.medi",
"tteheh-ar.init",
"tteheh-ar.init.alt",
"teheh-ar",
"teheh-ar.alt",
"teheh-ar.fina",
"teheh-ar.fina.alt",
"teheh-ar.medi",
"teheh-ar.init",
"teheh-ar.init.alt",
"behThreedotshorizontalbelow-ar",
"behThreedotshorizontalbelow-ar.fina",
"behThreedotshorizontalbelow-ar.fina.alt",
"behThreedotshorizontalbelow-ar.medi",
"behThreedotshorizontalbelow-ar.init",
"behThreedotshorizontalbelow-ar.init.alt",
"behThreedotshorizontalbelow-ar.alt",
"behThreedotsupabove-ar",
"behThreedotsupabove-ar.fina",
"behThreedotsupabove-ar.fina.alt",
"behThreedotsupabove-ar.medi",
"behThreedotsupabove-ar.init",
"behThreedotsupabove-ar.init.alt",
"behThreedotsupabove-ar.alt",
"behThreedotsupbelow-ar",
"behThreedotsupbelow-ar.fina",
"behThreedotsupbelow-ar.fina.alt",
"behThreedotsupbelow-ar.medi",
"behThreedotsupbelow-ar.init",
"behThreedotsupbelow-ar.init.alt",
"behThreedotsupbelow-ar.alt",
"tehThreedotsupbelow-ar",
"tehThreedotsupbelow-ar.fina",
"tehThreedotsupbelow-ar.fina.alt",
"tehThreedotsupbelow-ar.medi",
"tehThreedotsupbelow-ar.init",
"tehThreedotsupbelow-ar.init.alt",
"tehThreedotsupbelow-ar.alt",
"behTwodotsbelowDotabove-ar",
"behTwodotsbelowDotabove-ar.fina",
"behTwodotsbelowDotabove-ar.fina.alt",
"behTwodotsbelowDotabove-ar.medi",
"behTwodotsbelowDotabove-ar.init",
"behTwodotsbelowDotabove-ar.init.alt",
"behTwodotsbelowDotabove-ar.alt",
"behVinvertedbelow-ar",
"behVinvertedbelow-ar.fina",
"behVinvertedbelow-ar.fina.alt",
"behVinvertedbelow-ar.medi",
"behVinvertedbelow-ar.init",
"behVinvertedbelow-ar.init.alt",
"behVinvertedbelow-ar.alt",
"behVabove-ar",
"behVabove-ar.fina",
"behVabove-ar.fina.alt",
"behVabove-ar.medi",
"behVabove-ar.init",
"behVabove-ar.init.alt",
"behVabove-ar.alt",
"behVbelow-ar",
"behVbelow-ar.fina",
"behVbelow-ar.fina.alt",
"behVbelow-ar.medi",
"behVbelow-ar.init",
"behVbelow-ar.init.alt",
"behVbelow-ar.alt",
"behhamzaabove-ar",
"behhamzaabove-ar.fina",
"behhamzaabove-ar.fina.alt",
"behhamzaabove-ar.medi",
"behhamzaabove-ar.init",
"behhamzaabove-ar.alt",
"jeem-ar",
"jeem-ar.fina",
"jeem-ar.medi",
"jeem-ar.init",
"tcheh-ar",
"tcheh-ar.fina",
"tcheh-ar.medi",
"tcheh-ar.init",
"tcheheh-ar",
"tcheheh-ar.fina",
"tcheheh-ar.medi",
"tcheheh-ar.init",
"tchehDotabove-ar",
"tchehDotabove-ar.fina",
"tchehDotabove-ar.medi",
"tchehDotabove-ar.init",
"nyeh-ar",
"nyeh-ar.fina",
"nyeh-ar.medi",
"nyeh-ar.init",
"dyeh-ar",
"dyeh-ar.fina",
"dyeh-ar.medi",
"dyeh-ar.init",
"hah-ar",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.init",
"hahHamzaabove-ar",
"hahHamzaabove-ar.fina",
"hahHamzaabove-ar.medi",
"hahHamzaabove-ar.init",
"hahTwodotsverticalabove-ar",
"hahTwodotsverticalabove-ar.fina",
"hahTwodotsverticalabove-ar.medi",
"hahTwodotsverticalabove-ar.init",
"hahTwodotshorizontalabove-ar",
"hahTwodotshorizontalabove-ar.fina",
"hahTwodotshorizontalabove-ar.medi",
"hahTwodotshorizontalabove-ar.init",
"hahThreedotsabove-ar",
"hahThreedotsabove-ar.fina",
"hahThreedotsabove-ar.medi",
"hahThreedotsabove-ar.init",
"hahThreedotsupbelow-ar",
"hahThreedotsupbelow-ar.fina",
"hahThreedotsupbelow-ar.medi",
"hahThreedotsupbelow-ar.init",
"khah-ar",
"khah-ar.fina",
"khah-ar.medi",
"khah-ar.init",
"hahTahbelow-ar",
"hahTahbelow-ar.fina",
"hahTahbelow-ar.medi",
"hahTahbelow-ar.init",
"hahTahTwodotshorizontalabove-ar",
"hahTahTwodotshorizontalabove-ar.fina",
"hahTahTwodotshorizontalabove-ar.medi",
"hahTahTwodotshorizontalabove-ar.init",
"hahFourbelow-ar",
"hahFourbelow-ar.fina",
"hahFourbelow-ar.medi",
"hahFourbelow-ar.init",
"jeemTwodotsabove-ar",
"jeemTwodotsabove-ar.fina",
"jeemTwodotsabove-ar.medi",
"jeemTwodotsabove-ar.init",
"dal-ar",
"dal-ar.fina",
"thal-ar",
"thal-ar.fina",
"thalAlefabove-ar",
"thalAlefabove-ar.fina",
"ddal-ar",
"ddal-ar.fina",
"dahal-ar",
"dahal-ar.fina",
"ddahal-ar",
"ddahal-ar.fina",
"dalRing-ar",
"dalRing-ar.fina",
"dalDotbelow-ar",
"dalDotbelow-ar.fina",
"dalDotbelowTah-ar",
"dalDotbelowTah-ar.fina",
"dul-ar",
"dul-ar.fina",
"dalThreedotsdown-ar",
"dalThreedotsdown-ar.fina",
"dalFourdots-ar",
"dalFourdots-ar.fina",
"dalVinvertedabove-ar",
"dalVinvertedabove-ar.fina",
"dalTwodotsverticalbelowTahabove-ar",
"dalVinvertedbelow-ar",
"dalVinvertedbelow-ar.fina",
"dalThreedotsbelow-ar",
"dalThreedotsbelow-ar.fina",
"reh-ar",
"reh-ar.fina",
"zain-ar",
"zain-ar.fina",
"zainVInvertedabove-ar",
"rreh-ar",
"rreh-ar.fina",
"rehv-ar",
"rehv-ar.fina",
"rehRing-ar",
"rehRing-ar.fina",
"rehDotbelow-ar",
"rehDotbelow-ar.fina",
"rehVbelow-ar",
"rehVbelow-ar.fina",
"rehDotbelowdotabove-ar",
"rehDotbelowdotabove-ar.fina",
"rehTwodots-ar",
"rehTwodots-ar.fina",
"jeh-ar",
"jeh-ar.fina",
"rehFourdots-ar",
"rehFourdots-ar.fina",
"rehVinvertedabove-ar",
"rehVinvertedabove-ar.fina",
"rehStroke-ar",
"rehStroke-ar.fina",
"rehTwodotsverticalabove-ar",
"rehTwodotsverticalabove-ar.fina",
"rehHamzaabove-ar",
"rehHamzaabove-ar.fina",
"rehTwodotshorizontalaboveTahabove-ar",
"rehTwodotshorizontalaboveTahabove-ar.fina",
"rehAlefabove-ar",
"rehAlefabove-ar.fina",
"rehLoop-ar",
"rehLoop-ar.fina",
"seen-ar",
"seen-ar.alt",
"seen-ar.fina",
"seen-ar.fina.alt",
"seen-ar.medi",
"seen-ar.init",
"seenDotbelowDotabove-ar",
"seenDotbelowDotabove-ar.fina",
"seenDotbelowDotabove-ar.fina.alt",
"seenDotbelowDotabove-ar.medi",
"seenDotbelowDotabove-ar.init",
"seenDotbelowDotabove-ar.alt",
"seenThreedotsbelow-ar",
"seenThreedotsbelow-ar.fina",
"seenThreedotsbelow-ar.fina.alt",
"seenThreedotsbelow-ar.medi",
"seenThreedotsbelow-ar.init",
"seenThreedotsbelow-ar.alt",
"sheen-ar",
"sheen-ar.alt",
"sheen-ar.fina",
"sheen-ar.fina.alt",
"sheen-ar.medi",
"sheen-ar.init",
"sheenDotbelow-ar",
"sheenDotbelow-ar.fina",
"sheenDotbelow-ar.fina.alt",
"sheenDotbelow-ar.medi",
"sheenDotbelow-ar.init",
"sheenDotbelow-ar.alt",
"seenThreedotsbelowthreedots-ar",
"sad-ar",
"sad-ar.alt",
"sad-ar.fina",
"sad-ar.fina.alt",
"sad-ar.medi",
"sad-ar.init",
"sadTwodotsbelow-ar",
"sadTwodotsbelow-ar.fina",
"sadTwodotsbelow-ar.fina.alt",
"sadTwodotsbelow-ar.medi",
"sadTwodotsbelow-ar.init",
"sadTwodotsbelow-ar.alt",
"sadThreedots-ar",
"sadThreedots-ar.fina",
"sadThreedots-ar.fina.alt",
"sadThreedots-ar.medi",
"sadThreedots-ar.init",
"sadThreedots-ar.alt",
"sadThreedotsbelow-ar",
"sadThreedotsbelow-ar.fina",
"sadThreedotsbelow-ar.fina.alt",
"sadThreedotsbelow-ar.medi",
"sadThreedotsbelow-ar.init",
"sadThreedotsbelow-ar.alt",
"dad-ar",
"dad-ar.alt",
"dad-ar.fina",
"dad-ar.fina.alt",
"dad-ar.medi",
"dad-ar.init",
"dadDotbelow-ar",
"dadDotbelow-ar.fina",
"dadDotbelow-ar.fina.alt",
"dadDotbelow-ar.medi",
"dadDotbelow-ar.init",
"dadDotbelow-ar.alt",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"tahThreedots-ar",
"tahThreedots-ar.fina",
"tahThreedots-ar.medi",
"tahThreedots-ar.init",
"zah-ar",
"zah-ar.fina",
"zah-ar.medi",
"zah-ar.init",
"tahTwodotsabove-ar",
"tahTwodotsabove-ar.fina",
"tahTwodotsabove-ar.medi",
"tahTwodotsabove-ar.init",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"ainThreedots-ar",
"ainThreedots-ar.fina",
"ainThreedots-ar.medi",
"ainThreedots-ar.init",
"ghain-ar",
"ghain-ar.fina",
"ghain-ar.medi",
"ghain-ar.init",
"ghainDotbelow-ar",
"ghainDotbelow-ar.fina",
"ghainDotbelow-ar.medi",
"ghainDotbelow-ar.init",
"feh-ar",
"feh-ar.alt",
"feh-ar.fina",
"feh-ar.fina.alt",
"feh-ar.medi",
"feh-ar.init",
"feh-ar.init.alt",
"veh-ar",
"veh-ar.alt",
"veh-ar.fina",
"veh-ar.fina.alt",
"veh-ar.medi",
"veh-ar.init",
"veh-ar.init.alt",
"fehDotless-ar",
"fehDotless-ar.alt",
"fehDotless-ar.fina",
"fehDotless-ar.fina.alt",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"fehDotless-ar.init.alt",
"fehDotMovedbelow-ar",
"fehDotbelow-ar",
"fehDotbelow-ar.fina",
"fehDotbelow-ar.fina.alt",
"fehDotbelow-ar.medi",
"fehDotbelow-ar.init",
"fehDotbelow-ar.alt",
"fehThreedotsbelow-ar",
"fehThreedotsbelow-ar.fina",
"fehThreedotsbelow-ar.fina.alt",
"fehThreedotsbelow-ar.medi",
"fehThreedotsbelow-ar.init",
"fehThreedotsbelow-ar.alt",
"fehDotbelowThreedotsabove-ar",
"fehDotbelowThreedotsabove-ar.fina",
"fehDotbelowThreedotsabove-ar.fina.alt",
"fehDotbelowThreedotsabove-ar.medi",
"fehDotbelowThreedotsabove-ar.init",
"fehDotbelowThreedotsabove-ar.alt",
"peheh-ar",
"peheh-ar.fina",
"peheh-ar.fina.alt",
"peheh-ar.medi",
"peheh-ar.init",
"peheh-ar.init.alt",
"peheh-ar.alt",
"qafDotless-ar",
"qafDotless-ar.medi",
"qafDotless-ar.init",
"qafDotless-ar.init.alt",
"qafDotless-ar.fina",
"qaf-ar",
"qaf-ar.fina",
"qaf-ar.medi",
"qaf-ar.init",
"qaf-ar.init.alt",
"qafDotabove-ar",
"qafDotabove-ar.fina",
"qafDotabove-ar.medi",
"qafDotabove-ar.init",
"qafDotabove-ar.init.alt",
"qafThreedotsabove-ar",
"qafThreedotsabove-ar.fina",
"qafThreedotsabove-ar.medi",
"qafThreedotsabove-ar.init",
"qafDotbelow-ar",
"qafDotbelow-ar.fina",
"qafDotbelow-ar.medi",
"qafDotbelow-ar.init",
"kaf-ar",
"kaf-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"keheh-ar",
"keheh-ar.fina",
"keheh-ar.medi",
"keheh-ar.init",
"kehehTwodotshorizontalabove-ar",
"kehehTwodotshorizontalabove-ar.fina",
"kehehTwodotshorizontalabove-ar.medi",
"kehehTwodotshorizontalabove-ar.init",
"kehehThreedotsbelow-ar",
"kehehThreedotsbelow-ar.fina",
"kehehThreedotsbelow-ar.medi",
"kehehThreedotsbelow-ar.init",
"kehehDotabove-ar",
"kehehDotabove-ar.fina",
"kehehDotabove-ar.medi",
"kehehDotabove-ar.init",
"kehehThreedotsabove-ar",
"kehehThreedotsabove-ar.fina",
"kehehThreedotsabove-ar.medi",
"kehehThreedotsabove-ar.init",
"kehehThreedotsupbelow-ar",
"kehehThreedotsupbelow-ar.fina",
"kehehThreedotsupbelow-ar.medi",
"kehehThreedotsupbelow-ar.init",
"gaf-ar",
"gaf-ar.fina",
"gaf-ar.medi",
"gaf-ar.init",
"gafRing-ar",
"gafRing-ar.fina",
"gafRing-ar.medi",
"gafRing-ar.init",
"gafThreedots-ar",
"gafThreedots-ar.fina",
"gafThreedots-ar.medi",
"gafThreedots-ar.init",
"kafswash-ar",
"kafswash-ar.fina",
"kafswash-ar.fina.alt",
"kafswash-ar.medi",
"kafswash-ar.medi.alt",
"kafswash-ar.init",
"kafswash-ar.init.alt",
"kafswash-ar.alt",
"kafRing-ar",
"kafRing-ar.fina",
"kafRing-ar.medi",
"kafRing-ar.init",
"kafDotabove-ar",
"kafDotabove-ar.fina",
"kafDotabove-ar.medi",
"kafDotabove-ar.init",
"kafTwodotshorizontalabove-ar",
"kafTwodotshorizontalabove-ar.fina",
"kafTwodotshorizontalabove-ar.medi",
"kafTwodotshorizontalabove-ar.init",
"kafThreedotsbelow-ar",
"kafThreedotsbelow-ar.fina",
"kafThreedotsbelow-ar.medi",
"kafThreedotsbelow-ar.init",
"gafTwodotsbelow-ar",
"gafTwodotsbelow-ar.fina",
"gafTwodotsbelow-ar.medi",
"gafTwodotsbelow-ar.init",
"gafInvertedstroke-ar",
"gafInvertedstroke-ar.fina",
"gafInvertedstroke-ar.medi",
"gafInvertedstroke-ar.init",
"ng-ar",
"ng-ar.fina",
"ng-ar.medi",
"ng-ar.init",
"ngoeh-ar",
"ngoeh-ar.fina",
"ngoeh-ar.medi",
"ngoeh-ar.init",
"gueh-ar",
"gueh-ar.fina",
"gueh-ar.medi",
"gueh-ar.init",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.medi.rlig",
"lam-ar.init",
"lam-ar.init.rlig",
"lamVabove-ar",
"lamVabove-ar.init",
"lamVabove-ar.init.rlig",
"lamVabove-ar.medi",
"lamVabove-ar.medi.rlig",
"lamVabove-ar.fina",
"lamDotabove-ar",
"lamDotabove-ar.fina",
"lamDotabove-ar.medi",
"lamDotabove-ar.medi.rlig",
"lamDotabove-ar.init",
"lamDotabove-ar.init.rlig",
"lamThreedotsabove-ar",
"lamThreedotsabove-ar.fina",
"lamThreedotsabove-ar.medi",
"lamThreedotsabove-ar.medi.rlig",
"lamThreedotsabove-ar.init",
"lamThreedotsabove-ar.init.rlig",
"lamThreedotsbelow-ar",
"lamThreedotsbelow-ar.fina",
"lamThreedotsbelow-ar.medi",
"lamThreedotsbelow-ar.medi.rlig",
"lamThreedotsbelow-ar.init",
"lamThreedotsbelow-ar.init.rlig",
"lamDoublebar-ar",
"lamDoublebar-ar.fina",
"lamDoublebar-ar.medi",
"lamDoublebar-ar.medi.rlig",
"lamDoublebar-ar.init",
"lamDoublebar-ar.init.rlig",
"meem-ar",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.init",
"meemThreedotsabove-ar",
"meemThreedotsabove-ar.fina",
"meemThreedotsabove-ar.medi",
"meemThreedotsabove-ar.init",
"noon-ar",
"noon-ar.fina",
"noon-ar.medi",
"noon-ar.init",
"noon-ar.init.alt",
"noonDotbelow-ar",
"noonDotbelow-ar.fina",
"noonDotbelow-ar.medi",
"noonDotbelow-ar.init",
"noonDotbelow-ar.init.alt",
"noonghunna-ar",
"noonghunna-ar.medi",
"noonghunna-ar.init",
"noonghunna-ar.init.alt",
"noonghunna-ar.fina",
"rnoon-ar",
"rnoon-ar.fina",
"rnoon-ar.medi",
"rnoon-ar.init",
"rnoon-ar.init.alt",
"noonRing-ar",
"noonRing-ar.fina",
"noonRing-ar.medi",
"noonRing-ar.init",
"noonRing-ar.init.alt",
"noonThreedotsabove-ar",
"noonThreedotsabove-ar.fina",
"noonThreedotsabove-ar.medi",
"noonThreedotsabove-ar.init",
"noonThreedotsabove-ar.init.alt",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"hehHamzaabove-ar",
"hehHamzaabove-ar.fina",
"hehgoal-ar",
"hehgoal-ar.fina",
"hehgoal-ar.medi",
"hehgoal-ar.init",
"hehgoal-ar.init.alt",
"hehgoalHamzaabove-ar",
"hehgoalHamzaabove-ar.fina",
"hehgoalHamzaabove-ar.medi",
"hehgoalHamzaabove-ar.init",
"hehgoalHamzaabove-ar.init.alt",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.medi",
"hehDoachashmee-ar.init",
"hehVinvertedabove-ar",
"hehVinvertedabove-ar.fina",
"hehVinvertedabove-ar.medi",
"hehVinvertedabove-ar.init",
"hehAlefabove-ar.init",
"hehAlefabove-ar.init.fina",
"tehMarbuta-ar",
"tehMarbuta-ar.fina",
"tehMarbutagoal-ar",
"tehMarbutagoal-ar.fina",
"waw-ar",
"waw-ar.fina",
"wawring-ar",
"wawring-ar.fina",
"wawTwodots-ar",
"wawTwodots-ar.fina",
"wawDotabove-ar",
"wawDotabove-ar.fina",
"wawHamzaabove-ar",
"wawHamzaabove-ar.fina",
"wawTwoabove-ar",
"wawTwoabove-ar.fina",
"wawThreeAbove-ar",
"wawThreeAbove-ar.fina",
"wawDotcenter-ar",
"wawDotcenter-ar.fina",
"wawStraight-ar",
"kirghizoe-ar",
"kirghizoe-ar.fina",
"oe-ar",
"oe-ar.fina",
"u-ar",
"u-ar.fina",
"yu-ar",
"yu-ar.fina",
"kirghizyu-ar",
"kirghizyu-ar.fina",
"ve-ar",
"ve-ar.fina",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"alefMaksura-ar.fina.alt",
"alefMaksuraAlefabove-ar",
"alefMaksuraAlefabove-ar.fina",
"alefMaksuraAlefabove-ar.fina.alt",
"alefTwoabove-ar",
"alefTwoabove-ar.fina",
"alefTwoabove-ar.fina.alt",
"alefTwoabove-ar.fina.rlig",
"alefThreeabove-ar",
"alefThreeabove-ar.fina",
"alefThreeabove-ar.fina.alt",
"alefThreeabove-ar.fina.rlig",
"yeh-ar",
"yeh-ar.fina",
"yeh-ar.fina.alt",
"yeh-ar.medi",
"yeh-ar.init",
"yeh-ar.init.alt",
"yehHamzaabove-ar",
"yehHamzaabove-ar.fina",
"yehHamzaabove-ar.fina.alt",
"yehHamzaabove-ar.medi",
"yehHamzaabove-ar.init",
"yehHamzaabove-ar.init.alt",
"yehVabove-ar",
"yehVabove-ar.fina",
"yehVabove-ar.fina.alt",
"yehVabove-ar.medi",
"yehVabove-ar.init",
"yehVabove-ar.init.alt",
"yehTwodotsbelowHamzaabove-ar",
"yehTwodotsbelowHamzaabove-ar.fina",
"yehTwodotsbelowHamzaabove-ar.medi",
"yehTwodotsbelowHamzaabove-ar.init",
"yehTwodotsbelowHamzaabove-ar.init.alt",
"yehTwodotsbelowDotabove-ar",
"yehTwodotsbelowDotabove-ar.fina",
"yehTwodotsbelowDotabove-ar.medi",
"yehTwodotsbelowDotabove-ar.init",
"yehTwodotsbelowDotabove-ar.init.alt",
"yehVinverted-farsi",
"yehVinverted-farsi.fina",
"yehVinverted-farsi.fina.alt",
"yehVinverted-farsi.medi",
"yehVinverted-farsi.init",
"yehVinverted-farsi.init.alt",
"yeh-farsi",
"yeh-farsi.fina",
"yeh-farsi.fina.alt",
"yeh-farsi.medi",
"yeh-farsi.init",
"yeh-farsi.init.alt",
"yehTwodotsabove-farsi",
"yehTwodotsabove-farsi.fina",
"yehTwodotsabove-farsi.fina.alt",
"yehTwodotsabove-farsi.medi",
"yehTwodotsabove-farsi.init",
"yehTwodotsabove-farsi.init.alt",
"yehThreedotsabove-farsi",
"yehThreedotsabove-farsi.fina",
"yehThreedotsabove-farsi.fina.alt",
"yehThreedotsabove-farsi.medi",
"yehThreedotsabove-farsi.init",
"yehThreedotsabove-farsi.init.alt",
"yehTwoabove-farsi",
"yehTwoabove-farsi.fina",
"yehTwoabove-farsi.fina.alt",
"yehTwoabove-farsi.medi",
"yehTwoabove-farsi.init",
"yehTwoabove-farsi.init.alt",
"yehThreeabove-farsi",
"yehThreeabove-farsi.fina",
"yehThreeabove-farsi.fina.alt",
"yehThreeabove-farsi.medi",
"yehThreeabove-farsi.init",
"yehThreeabove-farsi.init.alt",
"yehFourbelow-farsi",
"yehFourbelow-farsi.fina",
"yehFourbelow-farsi.fina.alt",
"yehFourbelow-farsi.medi",
"yehFourbelow-farsi.init",
"yehFourbelow-farsi.init.alt",
"yehTail-ar",
"yehTail-ar.fina",
"yehTail-ar.fina.alt",
"yehKashmiri-ar",
"yehKashmiri-ar.fina",
"yehKashmiri-ar.fina.alt",
"yehKashmiri-ar.medi",
"yehKashmiri-ar.init",
"yehKashmiri-ar.init.alt",
"e-ar",
"e-ar.fina",
"e-ar.fina.alt",
"e-ar.medi",
"e-ar.init",
"e-ar.init.alt",
"yehThreedotsbelow-ar",
"yehThreedotsbelow-ar.fina",
"yehThreedotsbelow-ar.fina.alt",
"yehThreedotsbelow-ar.medi",
"yehThreedotsbelow-ar.init",
"yehThreedotsbelow-ar.init.alt",
"yehbarree-ar",
"yehbarree-ar.fina",
"yehbarreeHamzaabove-ar",
"yehbarreeHamzaabove-ar.fina",
"yehbarreeTwoabove-ar",
"yehbarreeTwoabove-ar.fina",
"yehbarreeTwoabove-ar.medi",
"yehbarreeTwoabove-ar.init",
"yehbarreeTwoabove-ar.init.alt",
"yehbarreeThreeabove-ar",
"yehbarreeThreeabove-ar.fina",
"yehbarreeThreeabove-ar.medi",
"yehbarreeThreeabove-ar.init",
"yehbarreeThreeabove-ar.init.alt",
"yehRohingya-ar",
"yehRohingya-ar.isol",
"yehRohingya-ar.fina",
"highhamzaWaw-ar",
"highhamzaWaw-ar.fina",
"uHamzaabove-ar",
"uHamzaabove-ar.fina",
"highhamzaYeh-ar",
"highhamzaYeh-ar.fina",
"highhamzaYeh-ar.fina.alt",
"highhamzaYeh-ar.medi",
"highhamzaYeh-ar.init",
"highhamzaYeh-ar.init.alt",
"ae-ar",
"ae-ar.fina",
"seenFourdotsabove-ar",
"seenFourdotsabove-ar.fina",
"seenFourdotsabove-ar.fina.alt",
"seenFourdotsabove-ar.medi",
"seenFourdotsabove-ar.init",
"seenFourdotsabove-ar.alt",
"ainTwodotshorizontalabove-ar",
"ainTwodotshorizontalabove-ar.fina",
"ainTwodotshorizontalabove-ar.medi",
"ainTwodotshorizontalabove-ar.init",
"ainThreedotsdownabove-ar",
"ainThreedotsdownabove-ar.fina",
"ainThreedotsdownabove-ar.medi",
"ainThreedotsdownabove-ar.init",
"ainTwodotsverticalabove-ar",
"ainTwodotsverticalabove-ar.fina",
"ainTwodotsverticalabove-ar.medi",
"ainTwodotsverticalabove-ar.init",
"fehTwodotsbelow-ar",
"fehTwodotsbelow-ar.fina",
"fehTwodotsbelow-ar.fina.alt",
"fehTwodotsbelow-ar.medi",
"fehTwodotsbelow-ar.init",
"fehTwodotsbelow-ar.alt",
"fehThreedotsupbelow-ar",
"fehThreedotsupbelow-ar.fina",
"fehThreedotsupbelow-ar.fina.alt",
"fehThreedotsupbelow-ar.medi",
"fehThreedotsupbelow-ar.init",
"fehThreedotsupbelow-ar.alt",
"meemDotabove-ar",
"meemDotabove-ar.fina",
"meemDotabove-ar.medi",
"meemDotabove-ar.init",
"meemDotbelow-ar",
"meemDotbelow-ar.fina",
"meemDotbelow-ar.medi",
"meemDotbelow-ar.init",
"noonTwodotsbelow-ar",
"noonTwodotsbelow-ar.fina",
"noonTwodotsbelow-ar.medi",
"noonTwodotsbelow-ar.init",
"noonTwodotsbelow-ar.init.alt",
"noonTahabove-ar",
"noonTahabove-ar.fina",
"noonTahabove-ar.medi",
"noonTahabove-ar.init",
"noonTahabove-ar.init.alt",
"noonVabove-ar",
"noonVabove-ar.fina",
"noonVabove-ar.medi",
"noonVabove-ar.init",
"noonVabove-ar.init.alt",
"lamBar-ar",
"lamBar-ar.fina",
"lamBar-ar.medi",
"lamBar-ar.medi.rlig",
"lamBar-ar.init",
"lamBar-ar.init.rlig",
"seenTwodotshorizontalabove-ar",
"seenTwodotshorizontalabove-ar.fina",
"seenTwodotsverticalabove-ar.fina.alt",
"seenTwodotshorizontalabove-ar.medi",
"seenTwodotshorizontalabove-ar.init",
"seenTwodotsverticalabove-ar.alt",
"seenTahTwodotshorizontalabove-ar",
"seenTahTwodotshorizontalabove-ar.fina",
"seenTahTwodotshorizontalabove-ar.fina.alt",
"seenTahTwodotshorizontalabove-ar.medi",
"seenTahTwodotshorizontalabove-ar.init",
"seenTahTwodotshorizontalabove-ar.alt",
"hahTahabove-ar",
"hahTahabove-ar.fina",
"hahTahabove-ar.medi",
"hahTahabove-ar.init",
"seenFourabove-ar",
"seenFourabove-ar.fina",
"seenFourabove-ar.fina.alt",
"seenFourabove-ar.medi",
"seenFourabove-ar.init",
"seenFourabove-ar.alt",
"seenVinvertedabove-ar",
"seenVinvertedabove-ar.fina",
"seenVinvertedabove-ar.fina.alt",
"seenVinvertedabove-ar.medi",
"seenVinvertedabove-ar.init",
"seenVinvertedabove-ar.alt",
"kashida-ar",
"behMeemabove-ar",
"behMeemabove-ar.alt",
"pehMeemabove-ar",
"pehMeemabove-ar.alt",
"tehTehabove-ar",
"tehTehabove-ar.alt",
uni08B3,
uni08B3.fina,
uni08B3.medi,
uni08B3.init,
uni08B4,
uni08B4.fina,
uni08B4.medi,
uni08B4.init,
"qafAfrican-ar",
"qafAfrican-ar.fina",
"qafAfrican-ar.medi",
"qafAfrican-ar.init",
"qafAfrican-ar.init.alt",
"noonAfrican-ar",
"noonAfrican-ar.fina",
"noonAfrican-ar.medi",
"noonAfrican-ar.init",
"noonAfrican-ar.init.alt",
"behMeemabove-ar.fina",
"behMeemabove-ar.fina.alt",
"behMeemabove-ar.medi",
"behMeemabove-ar.init",
"behMeemabove-ar.init.alt",
"fehDotMovedbelow-ar.init",
"fehDotMovedbelow-ar.medi",
"pehMeemabove-ar.fina",
"pehMeemabove-ar.fina.alt",
"pehMeemabove-ar.medi",
"pehMeemabove-ar.init",
"pehMeemabove-ar.init.alt",
uni08B9.fina,
"tehTehabove-ar.fina",
"tehTehabove-ar.fina.alt",
"tehTehabove-ar.medi",
"tehTehabove-ar.init",
"tehTehabove-ar.init.alt",
"yehTwodotsbelowNoonabove-ar",
"yehTwodotsbelowNoonabove-ar.fina",
"yehTwodotsbelowNoonabove-ar.fina.alt",
"yehTwodotsbelowNoonabove-ar.medi",
"yehTwodotsbelowNoonabove-ar.init",
"yehTwodotsbelowNoonabove-ar.init.alt",
"lam_alef-ar",
"lam_alef-ar.fina",
"lam_alef-ar.fina.short",
"lam_alef-ar.short",
"lam_alefHamzaabove-ar",
"lam_alefHamzaabove-ar.fina",
"lam_alefHamzabelow-ar",
"lam_alefHamzabelow-ar.fina",
"lam_alefMadda-ar",
"lam_alefMadda-ar.fina",
"lam_alefWasla-ar",
"lam_alefWasla-ar.fina",
"lam_lam_heh-ar",
"allah-ar",
"decimalseparator-ar",
"thousandseparator-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"zero-persian",
"one-persian",
"two-persian",
"three-persian",
"four-persian",
"five-persian",
"six-persian",
"seven-persian",
"eight-persian",
"nine-persian",
"two-persian.small01",
"three-persian.small01",
"four-persian.small01",
"four-persian.urdu",
"seven-persian.urdu",
"zero-arinferior",
"one-arinferior",
"two-arinferior",
"three-arinferior",
"four-arinferior",
"five-arinferior",
"six-arinferior",
"seven-arinferior",
"eight-arinferior",
"nine-arinferior",
"zero-persianinferior",
"one-persianinferior",
"two-persianinferior",
"three-persianinferior",
"four-persianinferior",
"five-persianinferior",
"six-persianinferior",
"seven-persianinferior",
"eight-persianinferior",
"nine-persianinferior",
"zero-arsuperior",
"one-arsuperior",
"two-arsuperior",
"three-arsuperior",
"four-arsuperior",
"five-arsuperior",
"six-arsuperior",
"seven-arsuperior",
"eight-arsuperior",
"nine-arsuperior",
"zero-persiansuperior",
"one-persiansuperior",
"two-persiansuperior",
"three-persiansuperior",
"four-persiansuperior",
"five-persiansuperior",
"six-persiansuperior",
"seven-persiansuperior",
"eight-persiansuperior",
"nine-persiansuperior",
"four-persian.urduinferior",
"seven-persian.urduinferior",
"four-persian.urdusuperior",
"seven-persian.urdusuperior",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
nbspace,
.notdef,
"threedots-ar",
"doubleverticalbarbelowSymbol-ar",
"doubleverticalbarbelowSymbol-ar.comb",
"asteriskArt-ar",
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
"number-ar",
"asterisk-ar",
"year-ar",
"footnotemarker-ar",
"pagenumber-ar",
"dateseparator-ar",
"verseComma-ar",
"misraComma-ar",
"sindhiampersand-ar",
"endofayah-ar",
"parenleft-ar",
"parenright-ar",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
question,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
"numbermark-ar",
"samvat-ar",
"sindhipostpositionmen-ar",
"ray-ar",
"afghani-ar",
"percent-ar",
"cuberoot-ar",
"fourthroot-ar",
"perthousand-ar",
at,
ampersand,
copyright,
registered,
trademark,
degree,
bar,
cent,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
asciitilde,
asciicircum,
percent,
"tahcenter-ar",
"tahbelow-ar",
"dotabove-ar",
"dotbelow-ar",
"dotcenter-ar",
"twodotsverticalabove-ar",
"twodotsverticalbelow-ar",
"twodotsverticalcenter-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalabove-ar.v2",
"twodotshorizontalbelow-ar",
"twodotshorizontalcenter-ar",
"threedotsdownabove-ar",
"threedotsdownbelow-ar",
"threedotsdowncenter-ar",
"threedotsupabove-ar",
"threedotsupabove-ar.v2",
"threedotsupbelow-ar",
"threedotsupcenter-ar",
"fourdotsabove-ar",
"fourdotsbelow-ar",
"fourdotscenter-ar",
"wasla-ar",
"wavyhamzaabove-ar",
"gafsarkashabove-ar",
"wavyhamzabelow-ar",
"alefabove-ar",
"alefbelow-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"damma-ar",
"kasra-ar",
"shadda-ar",
"sukun-ar",
"madda-ar",
"noonghunnaabove-ar",
"vabove-ar",
"vinvertedabove-ar",
"meemStopabove-ar",
"noonabove-ar",
grave,
uniFBC0,
"_alef-ar.fina.rlig",
"_alef-ar.fina.short.rlig",
"_alefFathatan-ar.fina.rlig",
"_alefHamzaabove-ar.fina.rlig",
"_alefHamzabelow-ar.fina.rlig",
"_alefMadda-ar.fina.rlig",
"_alefThreeabove-ar.fina.rlig",
"_alefTwoabove-ar.fina.rlig",
"_alefWasla-ar.fina.rlig",
"_alefWavyhamzaabove-ar.fina.rlig",
"_alefWavyhamzabelow-ar.fina.rlig",
"_cuberoot_fourthroot-ar",
"_damma-ar",
"_dot-ar",
"_fatha-ar",
"_four-persian.small01",
"_fourdotscenter-ar",
"_fourthroot-ar",
"_hamzasmall-ar",
"_highhamzaAlef-ar.fina.rlig",
"_threedots-ar",
"_twodotshorizontal-ar",
"_twodotsverticalabove-ar",
"_vbelow-ar",
"_vinvertedbelow-ar",
"_yehRohingya-ar",
"_yehRohingya-ar.fina",
LIG,
_alefabove,
_bar,
_dotVInvertedabove,
_dotVabove,
_doublebar,
_hamzawavy,
_hehgoalcomma,
_invertedstroke,
_onedotstah,
_ringArabic,
_stroke,
_tahabove,
_tahabovesmall,
_twodotstah,
_vabove,
"four-persianbelow-ar",
"four-persiancenter-ar",
ringArabic,
"twodotstahbelow-ar",
"twodotstahcenter-ar",
"dalTwodotsverticalbelowTahabove-ar.fina",
"fehDotMovedbelow-ar.alt",
"fehDotMovedbelow-ar.fina",
"seenThreedotsbelowthreedots-ar.alt",
"seenThreedotsbelowthreedots-ar.fina",
"seenThreedotsbelowthreedots-ar.init",
"seenThreedotsbelowthreedots-ar.medi",
"tehabove-ar.small",
"zainVInvertedabove-ar.fina",
_dots.horz.below,
"fehDotMovedbelow-ar.fina.alt",
"seenThreedotsbelowthreedots-ar.fina.alt"
)