(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
"alef-hb",
"alefpatah-hb",
"alefqamats-hb",
"alefdagesh-hb",
"bet-hb",
"betdagesh-hb",
"gimel-hb",
"gimeldagesh-hb",
"dalet-hb",
"daletdagesh-hb",
"he-hb",
"hedagesh-hb",
"vav-hb",
"vavdagesh-hb",
"vavholam-hb",
"zayin-hb",
"zayindagesh-hb",
"het-hb",
"tet-hb",
"tetdagesh-hb",
"yod-hb",
"yoddagesh-hb",
"finalkaf-hb",
"finalkafdagesh-hb",
"kaf-hb",
"kafdagesh-hb",
"lamed-hb",
"lameddagesh-hb",
"finalmem-hb",
"mem-hb",
"memdagesh-hb",
"finalnun-hb",
"nun-hb",
"nundagesh-hb",
"samekh-hb",
"samekhdagesh-hb",
"ayin-hb",
"finalpe-hb",
"finalpedagesh-hb",
"pe-hb",
"pedagesh-hb",
"finaltsadi-hb",
"tsadi-hb",
"tsadidagesh-hb",
"qof-hb",
"qofdagesh-hb",
"resh-hb",
"reshdagesh-hb",
"shin-hb",
"shinshindot-hb",
"shinsindot-hb",
"shindageshshindot-hb",
"shindageshsindot-hb",
"shindagesh-hb",
"tav-hb",
"tavdagesh-hb",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
nbspace,
.notdef,
"paseq-hb",
"geresh-hb",
"gershayim-hb",
"maqaf-hb",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
question,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
at,
ampersand,
copyright,
registered,
trademark,
degree,
bar,
cent,
dollar,
euro,
sheqel,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
asciitilde,
asciicircum,
percent,
"shindot-hb",
"patah-hb",
"qamats-hb",
"holam-hb",
"holamhaser-hb",
"dagesh-hb",
"sindot-hb",
"qamatsqatan-hb",
grave
)