(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
w_w_w.liga,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
nbspace,
.notdef,
hyphen_hyphen.liga,
hyphen_hyphen_hyphen.liga,
hyphen_asciitilde.liga,
parenleft_asterisk.liga,
braceleft_bar.liga,
braceright_numbersign.liga,
bracketleft_bar.liga,
bracketright_numbersign.liga,
period_hyphen.liga,
period_period.liga,
period_period_period.liga,
period_period_equal.liga,
period_period_less.liga,
period_question.liga,
period_equal.liga,
colon_colon.liga,
colon_colon_colon.liga,
colon_colon_equal.liga,
colon_equal.liga,
colon_slash_slash.liga,
semicolon_semicolon.liga,
exclam_period.liga,
exclam_colon.liga,
exclam_exclam.liga,
exclam_exclam_period.liga,
exclam_equal.liga,
exclam_equal_equal.liga,
question_period.liga,
question_colon.liga,
question_question.liga,
question_question_equal.liga,
question_equal.liga,
asterisk_parenright.liga,
asterisk_asterisk.liga,
asterisk_asterisk_asterisk.liga,
asterisk_greater.liga,
asterisk_slash.liga,
numbersign_parenleft.liga,
numbersign_braceleft.liga,
numbersign_bracketleft.liga,
numbersign_colon.liga,
numbersign_exclam.liga,
numbersign_question.liga,
numbersign_equal.liga,
numbersign_underscore.liga,
numbersign_underscore_parenleft.liga,
slash_asterisk.liga,
slash_greater.liga,
slash_slash.liga,
slash_slash_slash.liga,
slash_backslash.liga,
backslash_slash.liga,
backslash_backslash.liga,
underscore_underscore.liga,
hyphen_end.seq,
hyphen_middle.seq,
hyphen_start.seq,
colon_equal_middle.seq,
exclam_equal_middle.seq,
numbersign_end.seq,
numbersign_middle.seq,
numbersign_start.seq,
slash_equal_end.seq,
slash_equal_middle.seq,
slash_equal_start.seq,
slash_slash_equal_end.seq,
slash_slash_equal_middle.seq,
slash_slash_equal_start.seq,
underscore_end.seq,
underscore_middle.seq,
underscore_start.seq,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
question,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
colon.center,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
ampersand_ampersand.liga,
bar_braceright.liga,
bar_bracketright.liga,
bar_bar.liga,
bar_bar_bar.liga,
bar_bar_bar_greater.liga,
bar_bar_greater.liga,
bar_greater.liga,
dollar_greater.liga,
plus_plus.liga,
plus_plus_plus.liga,
plus_greater.liga,
equal_equal.liga,
equal_equal_equal.liga,
equal_greater_greater.liga,
equal_less_less.liga,
greater_equal.liga,
greater_greater.liga,
greater_greater_equal.liga,
greater_greater_greater.liga,
less_exclam_hyphen_hyphen.liga,
less_asterisk.liga,
less_asterisk_greater.liga,
less_bar.liga,
less_bar_bar.liga,
less_bar_bar_bar.liga,
less_bar_greater.liga,
less_dollar.liga,
less_dollar_greater.liga,
less_plus.liga,
less_plus_greater.liga,
less_equal.liga,
less_greater.liga,
less_less.liga,
less_less_equal.liga,
less_less_less.liga,
less_asciitilde.liga,
less_asciitilde_greater.liga,
less_asciitilde_asciitilde.liga,
less_slash.liga,
less_slash_greater.liga,
asciitilde_hyphen.liga,
asciitilde_at.liga,
asciitilde_equal.liga,
asciitilde_greater.liga,
asciitilde_asciitilde.liga,
asciitilde_asciitilde_greater.liga,
asciicircum_equal.liga,
percent_percent.liga,
bar_hyphen_end.seq,
bar_hyphen_middle.seq,
bar_hyphen_start.seq,
bar_bar_hyphen_end.seq,
bar_bar_hyphen_middle.seq,
bar_bar_hyphen_start.seq,
bar_bar_equal_end.seq,
bar_bar_equal_middle.seq,
bar_bar_equal_start.seq,
bar_equal_end.seq,
bar_equal_middle.seq,
bar_equal_start.seq,
bar_underscore_middle.seq,
equal_end.seq,
equal_middle.seq,
equal_start.seq,
greater_hyphen_end.seq,
greater_hyphen_middle.seq,
greater_hyphen_start.seq,
greater_equal_end.seq,
greater_equal_middle.seq,
greater_equal_start.seq,
greater_greater_hyphen_end.seq,
greater_greater_hyphen_middle.seq,
greater_greater_hyphen_start.seq,
greater_greater_equal_end.seq,
greater_greater_equal_middle.seq,
greater_greater_equal_start.seq,
less_hyphen_end.seq,
less_hyphen_middle.seq,
less_hyphen_start.seq,
less_equal_end.seq,
less_equal_middle.seq,
less_equal_start.seq,
less_less_hyphen_end.seq,
less_less_hyphen_middle.seq,
less_less_hyphen_start.seq,
less_less_equal_end.seq,
less_less_equal_middle.seq,
less_less_equal_start.seq,
at,
ampersand,
copyright,
registered,
trademark,
degree,
bar,
cent,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
asciitilde,
asciicircum,
percent,
greater.alt,
less.alt,
greater.center,
less.center,
grave,
LIG
)